<div class="relative flex h-screen flex-col md:flex-row">
  <!-- Background SVG -->
  <div class="absolute inset-0 opacity-5">
    <img
      src="/assets/welcome-page-background.svg"
      alt=""
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Content -->
  <div class="relative h-20 bg-background-secondary md:h-screen md:w-20">
    <div class="absolute right-3 top-0 h-full w-[2px] bg-accent"></div>
  </div>
  <div
    class="z-10 flex flex-grow justify-center px-4 py-8 md:items-center md:p-8"
  >
    <fit-card>
      <form
        [formGroup]="welcomeForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col"
      >
        <h1 class="text-3xl font-bold">
          <span class="text-accent">Hello</span>,
          <span class="relative -top-[5px]">there</span>
        </h1>
        <h2 class="mt-1 text-lg">Welcome to Your Workout Tracker App</h2>
        <div class="mt-4">
          <fit-input
            label="What's your name?"
            formControlName="name"
            styleClass="w-full"
            [showError]="isNameInvalid"
            [errorMessage]="nameErrorMessage"
          />
        </div>

        <div class="mt-2">
          <fit-button styleClass="w-full" type="submit"> Start </fit-button>
        </div>
        <p class="mt-1 text-center text-sm">
          All your data stays on your computer
        </p>
      </form>
    </fit-card>
  </div>
</div>
