@if (exerciseListIsEmpty()) {
  <div class="flex flex-grow justify-center" data-testid="empty-state">
    <h2 class="text-lg font-bold">No exercises</h2>
  </div>
} @else {
  <div class="flex w-full flex-col">
    <fit-draggable-list
      [items]="exercises()"
      (itemsChanged)="onReorder($event)"
      [contentTemplate]="contentTemplate"
    >
      <ng-template #contentTemplate let-exercise>
        <fit-card data-testid="exercise-item" styleClass="mb-2">
          <h3 class="truncate text-lg font-bold">{{ exercise.name }}</h3>
        </fit-card>
      </ng-template>
    </fit-draggable-list>
  </div>
}
