<div class="flex flex-col gap-1">
  @if (label()) {
    <label [for]="label()" class="text-foreground text-sm">
      {{ label() }}
    </label>
  }
  <input
    pInputText
    [id]="label()"
    [type]="type()"
    [placeholder]="placeholder()"
    [ngModel]="value()"
    (ngModelChange)="onInput($event)"
    [ngClass]="{ 'ng-invalid ng-dirty': showError() }"
    [ngClass]="styleClass()"
  />
  <div class="h-5">
    @if (showError() && errorMessage()) {
      <p class="text-error text-sm">{{ errorMessage() }}</p>
    }
  </div>
</div>
