<div class="flex flex-col gap-1">
  @if (label()) {
    <label [for]="inputId()" class="text-sm text-foreground">
      {{ label() }}
    </label>
  }
  <p-datepicker
    [styleClass]="styleClass()"
    [ngModel]="value()"
    [inputId]="inputId()"
    (ngModelChange)="onDateChange($event)"
    [class.ng-invalid]="showError()"
    [class.ng-touched]="showError()"
    [class.ng-dirty]="showError()"
    [dateFormat]="dateFormat()"
    [placeholder]="placeholder()"
    [showIcon]="true"
    [showButtonBar]="true"
  >
    <ng-template pTemplate="header">
      <!-- bug https://github.com/primefaces/primeng/issues/16590 -->
      <p-button class="p-datepicker-prev hidden">Previous</p-button>
      <p-button class="p-datepicker-next hidden">Next</p-button>
    </ng-template>
  </p-datepicker>
  <div class="h-5">
    @if (showError() && errorMessage()) {
      <p class="text-sm text-error">{{ errorMessage() }}</p>
    }
  </div>
</div>
